body{
    overflow-x: hidden;
}

#logo{
    width: 150px;
    height: 100px;
}

#menu{
    background-color: #000000 !important;
}

.alto-img{
    height: 550px !important;
}

.nav-link{
    color: #fff !important;
    font-weight: 700;
}

.nav-link:hover{
    color: #d9b70e !important;
    font-weight: 700 !important;
}

.nav-link.active{
    color: #000 !important;
}